.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  padding: 10px;
}

.name {
  position: absolute;
  bottom: 0;
  right: 0;

  font-size: 10px;
  font-weight: 600;
  letter-spacing: 3px;
  padding: 2px;

  color: var(--white);
}

.text {
  height: 28px;
  font-size: 25px;
  font-weight: 900;
  color: #5e5ec9;
  /* text-transform: uppercase; */
  letter-spacing: 3px;

  text-shadow: -3px -3px 4px rgba(82, 203, 220, 0.6),
    3px 3px 4px rgba(51, 0, 255, 0.5);
  /* padding-right: 10px; */
  /* border: 1px solid white; */
  border-right: 10px solid var(--purple);

  animation: blinker 1s ease-in-out infinite;
}

@keyframes blinker {
  0% {
    border-right: 10px solid rgba(87, 33, 112, 0.2);
  }

  50% {
    border-right: 10px solid rgba(87, 33, 112, 1);
  }

  100% {
    border-right: 10px solid rgba(87, 33, 112, 0.2);
  }
}

/* large devices */
@media only screen and (max-width: 1200px) {
}

/* laptops */
@media only screen and (max-width: 992px) {
  .text {
    font-size: calc(25px * 0.9);
    height: calc(28px * 0.9);
  }

  .name {
    font-size: calc(10px * 0.9);
  }
}

/* tablets adaptive */
@media only screen and (max-width: 822px) {
}

/* tablets */
@media only screen and (max-width: 768px) {
  .text {
    font-size: calc(25px * 0.8);
    height: calc(28px * 0.8);
  }
  .name {
    font-size: calc(10px * 0.8);
  }
}

/* tablets adaptive */
@media only screen and (max-width: 700px) {
}

/* mobile phones */
@media only screen and (max-width: 576px) {
  .text {
    font-size: calc(25px * 0.55);
    height: calc(28px * 0.55);
  }
  .name {
    font-size: calc(10px * 0.6);
  }

  @keyframes blinker {
    0% {
      border-right: 5px solid rgba(87, 33, 112, 0.2);
    }

    50% {
      border-right: 5px solid rgba(87, 33, 112, 1);
    }

    100% {
      border-right: 5px solid rgba(87, 33, 112, 0.2);
    }
  }
}
